body {
	background-color: #edf0f4;
}

td {
	margin: 2px;
}

footer, h1, header h2 {
	text-align: center;
}

h1, .dwmp  {
	/*font-family: "Alike Angular", cursive;*/
  font-family: "Comfortaa", serif;
}

h2, h3, .panel-heading, .panel-title, .footer-links a {
  font-family: "Comfortaa", serif;
}

header p, header td {
	font-style: italic;
}

#patrons {
	text-align: center;
  width: 100%;
  margin: 0px auto;
  float: none;
  color: #888888;
}

img.left, img.right, img.middle {
	max-width: 100%;
	height: auto;
	display: block;
  margin: 0.7em;
}

img.left {
	float: left;
}

img.right {
	float: right;
}

img.middle {
    margin-left: auto;
    margin-right: auto;
}

div#data {
	clear: both;
}

.hidden {
	display: none;
}

tr.clickableRow { 
	cursor: pointer; 
}

/* Handles the paper effect for content*/
@media(max-width:767px) {
  .letter {
    background: #fff;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 2px solid #bbc2cc;
    box-shadow: 5px 5px 2px #bbc2cc;
  }
}

@media(min-width:767px){
  .letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 26px auto 0;
    padding: 24px;
    position: relative;
    width: 92%;
  }
  .letter:before, .letter:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .letter:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }
  .letter:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
  }
}

#data {
	display: none;
}

.loginInfo {
  font-weight: bold;
}

#markdownPreviewArea {
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  display: none;
}

#narrative, #dataForm {
  overflow: hidden;
}

.error-block {
  font-weight: bold;
}

.btn {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#saveAllResultChangedDetails {
  display: none;
}

/* Add in a space before and after icons so the space is not undlerined when a link */
a.toggler .fa:after {
    content: "\00a0";
}

.flag {
  max-height: 1.2em;
}